body {
    background-color:rgb(250, 252, 253);
    border: solid black;
    padding: 10px;
}

header {
    text-align: center;
    font-size:xx-large;
    padding: 20px;
    margin: 20px;
}

button {
  font-size:x-large;
  background-color:crimson;
  margin: 25px;
}

section {
    background-color:rgb(213, 229, 255);
    border: solid rgba(0, 38, 255, 0.726);
    padding: 15px;
    margin: 15px;
    font-size: larger;
    color:navy;
    text-align: center;
}

#imgA {
    margin-right: auto;
    width: 500px;
}

#imgB {
    margin-left: auto;
    width: 500px;
}
#imgC {
    margin-right: auto;
    width: 500px;
}
#lastSection {
    height: 40px;
    
}
#clickMe {
    width:100px;
    height:40px;
    font-size: large;
    background-color: gold;
}
#truth {
    width:200px;
    height: 40px;
    background-color:gold;
    font-size: large;
}
footer {
    text-align: center;
}